<div class="facebook-login">
  <% if current_user %>
    Bienvenido <%= current_user.first_name %>!
    <div class="facebook btn">
      <%= link_to "Cerrar Sesión", signout_path %>
    </div>
  <% else %>
    <div class="facebook btn">
      <%= link_to "Iniciar Sesión con Facebook", "/auth/facebook" %>
    </div>
  <% end %>
</div>
