<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h3>CONSIDERACIONES PREVIAS</h3>

      <p>Por medio del presente reglamento se intenta fomentar un ambiente propicio mediante el cual el jugador pueda desarrollar normalmente sus habilidades. En su carácter de Organizador de la Competencia considera fundamental la conducta de los jugadores durante el desarrollo del Torneo, basado principalmente en el respeto a los compañeros, los rivales, árbitros y los miembros del Staff organizador.</p>
      <p>
        <b>MODO DE COMPETICION</b><br>
        <b>Modalidad:</b> Draft Mode<br>
        <b>Servidor:</b> Latino América Norte<br>
        <b>Inscripciones:</b> $250.00 MXN. Por equipo.<br>
        <b>Teams:</b> 5v5<br>
        <b>Cupos:</b> Indefinido.<br>
        <b>Premio:</b> Pendiente
      </p>

      <p>
        1) Los equipos están conformados por 5 titulares y 1 Suplentes, minimo 2 integrantes de la universidad.
      </p>
      <p>
        2) Antes de comenzar las partidas se deberá organizar previamente con los capitanes de cada equipo, se juntarán en una partida creada Custom la persona correspondiente a la organización de la misma con los 2 capitanes. El sistema de banned será como en una partida Ranked. (3 Banned por cada team)
      </p>
      <p>
        3) El equipo que no se presente en el horario correspondiente de su match, tendrá 15 minutos de tolerancia, de lo contrario, será descalificado.
      </p>
      <p>
        4) El torneo será por puntuacion tipo escalera.
      </p>
      <p>
        5) Los integrantes de cada team no podrán ser repetidos en otros teams, es decir, en el caso de que aparezcan titulares o suplentes de otro team no serán tomados en cuenta, ni el participante ni el equipo.
      </p>
      <p>
        6) Si a algún miembro de cualquiera de los dos teams se le desconecta en "In Champion Select" se deberá respetar lo que se pickeo anteriormente, en el caso de que cambie será Descalificado.
      </p>
      <p>
        7) Las semi-finales y la final serán jugadas de manera presencial en las instalaciones de la Universidad TecMilenio Campus Las Torres con al menos tres representantes de cada equipo presentes.
      </p>
      <p>
        * Los horarios serán cumplidos estrictamente, es decir, el match es 15:00 se dará 15 minutos de tolerancia, en el caso de que ingrese 15:16, el equipo estará descalificado.
      </p>
      <p>
      <b>DESCONEXIONES</b><br>
      Desconexiones:<br>
      <p>
      Desconexión con intención:<br>
      Cualquier desconexión ocasionada por uno de los jugadores.<br>
      Esta acción será juzgada por los encargados, el infractor puede ser declarado perdedor del partido.
      </p>

      <b>INFORMACION DE PAGO</b><br>
      <b>Deposito:</b><br>
      <b>Cliente:</b> COMITÉ DE ALUMNOS<br>
      <b>Numero de cliente:</b> 8006863<br>
      <b>Convenio CIE:</b> 0779008<br>
      <b>Banco:</b> BBVA Bancomer<br>
      <b>Referencia:</b> 50305030000800686332

      <p>
        Es de VITAL importancia que conserves el comprobante de pago, ya que este permitirá que tu equipo sea inscrito oficialmente. Una vez realizado el pago favor de enviar una foto del comprobante con el nombre de los participantes, indicando al capitán con su correo a al02694147@tecmilenio.mx para finalizar la inscripción.
      </p>


      <b>ACEPTACION Y APROBACION</b><br>
      <p>
        La inscripción del torneo se realiza mediante la Website oficial. El espíritu de este reglamento es el de facilitar el normal desarrollo del torneo tratando de evitar todo tipo de anomalías que afecten su desarrollo. Es por ello que, la inscripción al torneo implica la total aceptación de las presentes reglas, las cuales se encuentran publicadas de manera permanente en el sitio Web oficial de IDSUTM.com). Por esta razón el reglamento se presume conocido por todos y no podrá alegarse desconocimiento del mismo en ninguna circunstancia. El comité de IDS, se reserva el derecho de modificar en todo o en partes el reglamento y el desarrollo del torneo siempre que lo entienda necesario para el normal desarrollo del mismo. Del mismo modo se establece que las comunicaciones recibidas por la organización formarán parte de este reglamento. La misma aceptación a las presentes reglas implica la obligación de los participantes de colaborar con los elementos de marketing y publicidad requeridos por la organización. La organización agradece la comprensión de las presentes y desea que los equipos participantes obtengan su mejor performance a lo largo de la COPA, quedando a disposición para cualquier inquietud que se les presente.
      </p>

      Este torneo esta sujeto a las <%= link_to "reglas establecidas", "http://s3-us-west-2.amazonaws.com/burningman-prod/tournament-rules/es_MX.pdf" %> por Riot Games, inc.
    </div>
  </div>
</div>
