<div class="watch">
  <div class="twitch-video">
    <iframe src="http://player.twitch.tv/?channel=idslastorres" frameborder="0" scrolling="no" height="378" width="620"></iframe><a href="//www.twitch.tv/idslastorres?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from IDSLasTorres on www.twitch.tv</a>
  </div>
  <div class="twitch-chat">
    <iframe src="//www.twitch.tv/idslastorres/chat?popout=" frameborder="0" scrolling="no" height="378" width="350"></iframe>
  </div>
</div>
