<div class="index">
  <table class = "table">
    <thead>
      <tr>
      <th></th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Admin</th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tbody>
        <td style="text-align:center"> <%= image_tag user.profile_picture %> </td>
        <td> <%= user.first_name %></td>
        <td> <%= user.last_name %> </td>
        <td> <%= user.admin %> </td>
      </tbody>
    <% end %>
  </table>
</div>
