

$(".search-options").empty();

<% unless @users.nil? %>
  <% @users.each do |user| %>
    $(".search-options").slideDown();
    $(".search-options").append('<%= link_to(user) do %><li> <%= user.first_name %> <br/><span> <%= user.last_name %></span></li><% end %>');

  <% end %>
<% end %>
