.admin-index {
  width: 100%;
  .position{
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin-top: 20px;

    a, a:hover {
      width: 24%;
      background: $dark-color;
      text-decoration: none;
      color: $primary-color;
      height: 30px;
      padding-top: 5px;
      &:hover {
        box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
        background: $light-color;
        color: $secondary-color;
      }
    }

  }

  @media (max-width: 775px){
    display: block;
  }
}
