<div class="mobile-nav">
    <%= render 'layouts/navigation_links' %>
</div>
<div class="position">
  <div class="logo">
    <h4>IDS</h4>
    <span class="underlogo">Comite de Alumnos</span>
  </div>

  <div class="site-nav">
      <%= render 'layouts/navigation_links' %>
  </div>


  <div class="mobile-icon-toggle">
    <%= link_to "", "#", class: "glyphicon glyphicon-menu-hamburger",
                            id: "mobile-toggle"%>
  </div>
</div>
